/**
 * Placement.scss (2020-01-7) This whole file will likely get replaced by bootstrap formatting
 */

/* Avenger preview image and text placement */
div.avenger-preview {
  margin-top: 20px;
  margin-bottom: 40px;
}

p.avenger-preview {
  margin-top: 5px;
}

/* Avenger Catalog component (Complete Avenger profile)
.avenger-image {
  margin-top: 20px;
  margin-bottom: 20px;
}
*/
